.top{
    padding: 30px 20px;
    border-top: 2px solid var(--greyv2);
    border-bottom: 2px solid var(--greyv2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
}

.top>div{
    max-width: 70%;
}

.top>button{
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: var(--purple);
    transition: all .4s linear;
    cursor: pointer;
}

.top>button:hover{
    border-color: var(--greyv2);
    background-color: transparent;
}

.middle{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle>div{
    width: 30%;
}

.MI input{
    padding: 10px;
    height: 20px;
    background-color: transparent;
}

.MI{
    padding: 10px;
    width: fit-content;
    border: 2px solid var(--greyv2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.middle>nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.footer-column{
    display: grid;
    gap: 5px;
    align-content: flex-start;
}

.footer-column>a{
    width: fit-content;
    transition: all .4s linear;
    cursor: pointer;
}

.footer-column>a:hover{
    color: var(--light-grey);
    transform: scale(1.1);
}

.bottom{
    padding: 20px;
    border-top: 2px solid var(--greyv2);
    display: flex;
    justify-content: space-between;
    background-color: var(--grey);
}

.bottom>div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom a{
    text-decoration: none;
    color: #fff;
    transition: all .4s linear;
}

.bottom a:hover{
    color: var(--light-grey);
}

.icon{
    padding: 10px;
    height: 20px;
    width: 20px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: var(--dark-grey);
    transition: all .4s linear;
    cursor: pointer;
}

.icon:hover{
    border-color: var(--light-grey);
    color: var(--light-grey);
    background-color: transparent;
}