.cont{
    justify-self: center;
    width: 90%;
    display: grid;
    gap: 20px;
}

.cont>p{
    width: 70%;
}

.cont>div{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 30%;
    padding: 40px;
    display: grid;
    gap: 10px;
    border: 2px solid var(--greyv2);
    border-radius: 15px;
}

@media (max-width: 800px){
    .card{
        padding: 10px;
    }
}

@media (max-width: 600px){
    .cont>div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card{
        width: 100%;
        border-radius: 5px;
    }
}   