.cont{
    justify-self: center;
    width: 90%;
    display: grid;
    gap: 20px;
}

.cont>p{
    width: 70%;
}

.cont>div{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 30%;
    padding: 40px;
    display: grid;
    gap: 10px;
    border: 2px solid var(--greyv2);
    border-radius: 15px;
}