:root {
    --dark-grey: #141414;
    --grey: #1A1A1A;
    --light-grey: #999999;
    --greyv2: #262626;
    --purple: #703BF7;
    --light-purple: #A685FA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
}

header>div{
    display: flex;
    gap: 10px;
    align-items: center;
}

header img{
    height: 30px;
}

header nav{
    display: flex;
    gap: 5px;
}

.HU{
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s linear;
}

.HU:hover{
    background-color: var(--greyv2);
}

.HA{
    border-color: var(--greyv2);
    background-color: var(--grey);
}

.contact{
    padding: 10px 15px;
    border: 2px solid var(--greyv2);
    border-radius: 5px;
    background-color: var(--grey);
    cursor: pointer;
}

body{
    font-family: "Urbanist", sans-serif;
    color: #fff;
    background-color: var(--dark-grey);
}

body>div{
    display: grid;
    gap: 20px;
}

h1{
    font-size: 3em;
    font-weight: 700;
}

h2{
    font-size: 2em;
    font-weight: 600;
}

h4{
    font-size: 1.125em;
    font-weight: 500;
}

p{
    font-size: 1em;
    font-weight: 400;
    color: var(--light-grey);
}

button{
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-family: "Urbanist", sans-serif;
}

input{
    outline: none;
    border: none;
}

main{
    display: grid;
    gap: 30px;
}

footer{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
}